.gradle/
gradle.
gradle/
local.properties
/.idea
.DS_Store
library/build
forcedroid/libs/SalesforceSDK/build/
forcedroid/libs/SmartStore/build/
forcedroid/libs/SmartSync/build/
TimeMachine/build/
TimeMachine/TimeMachine.iml
/build/
projectFilesBackup/
