<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gwexhibits.timemachine"
    android:installLocation="internalOnly"
    android:versionCode="100042"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <!--
        GCM permission to ensure that only this application can
        receive the messages and registration result. This must be of
        the format <app-package-name>.C2D_MESSAGE for it to work.
    -->
    <permission
        android:name="com.gwexhibits.timemachine.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.gwexhibits.timemachine.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TimeMachineApp"
        android:icon="@drawable/sf__icon"
        android:label="@string/app_name"
        android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity">
        <service
            android:name=".services.OrdersSyncService"
            android:exported="false" />
        <service
            android:name=".services.TimesSyncService"
            android:exported="false" />

        <receiver
            android:name=".broadcast.TaskSyncAlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".broadcast.NotificationReceiver"
            android:enabled="true" />

        <!-- Launcher screen -->
        <activity
            android:name=".SearchActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderDetailsActivity"
            android:label="@string/title_activity_order_details"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>
